<!--
	Copyright 2021 SANGFOR TECHNOLOGIES

	Licensed under the Apache License, Version 2.0 (the "License");
	you may not use this file except in compliance with the License.
	You may obtain a copy of the License at

		http://www.apache.org/licenses/LICENSE-2.0

	Unless required by applicable law or agreed to in writing, software
	distributed under the License is distributed on an "AS IS" BASIS,
	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	See the License for the specific language governing permissions and
	limitations under the License.
-->
<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			Discover a new instance
		</div>
		<div class="panel-body">
			<div class="">
				<p>
					Enter a MySQL hostname and a port. <i>Ham4db</i> will try and resolve the CNAME.
				</p>
				<p>
					If running in discovery mode, <i>ham4db</i> will also attempt to discover the entire topology the instance belongs to.
				</p>
			</div>

			<form role="form" class="form-inline">
				<input type="text" class="form-control" id="discoverHostName" placeholder="Enter host name">
				<input type="text" class="form-control" id="discoverPort" value="3306" placeholder="port">
				<button type="submit" class="btn btn-primary" data-btn="discover-instance">Submit</button>
			</form>
		</div>
	</div>
</div>

<script src="{{.prefix}}/js/mysql/discover.js"></script>
